.messageBox {

  border-radius: 20px;
  padding: 5px 15px;
  color: #dcddde;
  display: inline-block;
  max-width: 80%;
  
}

.messageText:not(body) {
  width: 100%;
  letter-spacing: 0;
  float: left;
  /* font-size: 1.1em;
  word-wrap: break-word;
  color: #dcddde; */
  font-family: inherit !important;
  
  font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: 
    #dcddde;
    font-weight: 400;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  margin-top: 3px;
  height: 48px;
   align-items: center;
   margin-bottom: 10px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: inherit;
  color: #fff;
  letter-spacing: 0.3px;

  font-weight: 500;
  margin-bottom: 2px
}

.pl-10 {
  padding-left: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;

}

.colorWhite {
  color: white;
}

.time_set:not(.sendText){
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #72767d;
    vertical-align: baseline;
    margin-left: .40rem;
} 

.avatar {
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979FF;
}

.backgroundLight {
  background: #F3F3F3;
}
