@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");

$body-bg: #121416;
$body-color: #FFF;
$servers-bg: #1E2124;
$channels-bg: #2E3136;
$border-accent: darken($channels-bg, 7.7%);
$chat-bg: #36393E;
$menu-bg: $chat-bg;
$server-bg: $channels-bg;
$server-bg-active: #7289DA;
$server-marker-unread: #8A8E94;
$server-marker-active: #FFF;
$button-bg: #2E3136;
$button-bg-active: lighten($button-bg, 5%);



.channels-footer-s
	{
		position: absolute;
		display: flex;
		align-items: center;
		height: 52px;
		margin-top: auto;
		background: darken($channels-bg, 2.35%);

		padding: 0 10px;
		bottom: 0;
		margin-left: 72px;
		width: 240px;
		
		.channels-footer-details
		{
			margin-left: 10px;
		}
		
		.channels-footer-controls
		{
			margin-left: auto;
			
			border-radius: 4px;
			display: flex;
			color: #b9bbbe;
			
			.button
			{
				background-color: #282b30;
				display: block;
				width: 32px;
				height: 32px;
				
				
				svg { 
					width: 20px;
					height: 20px;
			
				}
				
				&:hover svg, &:focus svg { filter: brightness(200%); }
			}
		}
		
		.avatar
		{
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
		
		.username, .tag { display: block;  }

		.username
		{
			font-size: 0.9rem;
		}
		
		.tag
		{
			color: #b9bbbe;
			font-size: 12px;
			white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
			
		}
	}